<div id="resourceEditModal" class="modal fade" tabindex="-1" th:fragment="resourceEdit">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="collegeEditLabel"
					style="font-size: 18px; font-weight: 500;">用户信息修改</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal">
				<!-- 1 -->
					<div class="form-group row">
						<label class="control-label col-md-3">用户ID</label>
						<div class="col-md-8">
							<input id="resourceIdForEditPage" class="form-control" 
								type="text" placeholder="请输入要修改的资源ID" readonly>
						</div>
					</div>
				<!-- 2 -->
					<div class="form-group row">
						<label class="control-label col-md-3">用户名</label>
						<div class="col-md-8">
							<input id="resourceNameForEditPage" class="form-control" 
								type="text" placeholder="请输入要修改的资源名">
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<!-- data-dismiss="modal"关闭模态框 -->
				<a class="btn btn-secondary" href="#" data-dismiss="modal">
					<i class="fa fa-fw fa-lg fa-times-circle"></i>退出
				</a>
				<button name="collegeEditBtn" data-dismiss="modal" 
					class="btn btn-primary" type="button" onclick="editResource();">
					<i class="fa fa-fw fa-lg fa-check-circle"></i>确认
				</button>
			</div>
		</div>
	</div><!-- /.modal-dialog -->
</div>