<div id="roleAddModal" class="modal fade" tabindex="-1" th:fragment="roleAdd">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="collegeAddLabel"
					style="font-size: 18px; font-weight: 500;">添加权限角色</h4>
			</div>
			
			<div class="modal-body">
				<form class="form-horizontal">
					<div class="form-group row">
						<label class="control-label col-md-3">权限角色名</label>
						<div class="col-md-8">
							<input id="roleNameForAddPage" class="form-control" 
								type="text" placeholder="请输入要添加的权限角色名">
						</div>
					</div>
				</form>
			</div>
			
			<div class="modal-footer">
				<!-- data-dismiss="modal"关闭模态框 -->
				<a class="btn btn-secondary" href="#" data-dismiss="modal">
					<i class="fa fa-fw fa-lg fa-times-circle"></i>退出
				</a>
				<button name="collegeAddBtn" data-dismiss="modal" 
					class="btn btn-primary" type="button" onclick="addRole();">
					<i class="fa fa-fw fa-lg fa-check-circle"></i>确认
				</button>
			</div>
		</div>
	</div><!-- /.modal-dialog -->
</div>